:root{
	--maincolor:#814141;
	--secondarycolor:#893f45;
	--bordercolor:#7b3b3a;
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--themeDotBorder:#FFF;
	--previewBg:rgb(137, 63, 69,0.8);
	--previewShadow:#68383c;

	--buttonColor:#95494f;
}
