:root{
	--maincolor:#707174;
	--secondarycolor:#86878a;
	--bordercolor:#5c5d5f;
	--mainText:#fff;
	--secondaryText:#eeeeee;
	--themeDotBorder:#FFF;
	--previewBg:rgb(134, 135, 138, 0.8);
	--previewShadow:#38393a;

	--buttonColor:#86878a;
}
